body {
	background-color: #F3F5FC;
	font-family: 'Inter', sans-serif;
	margin: 0;
}

#contenedor {
	width: 80%;
	height: 1024px;
	position: relative;
	margin: 0 auto;

}

.imagen-logo {
	position: absolute;
	left: 5.83%;
	top: 3.9%;
	display: block;
}

.entrada-texto {
	display: block;
	width: 50%;
	height: 50%;
	font-size: 2.5em;
	color: #0A3871;
	margin-bottom: 70px;
	resize: none;
	position: absolute;
	left: 14%;
	top: 16.40%;
	background: transparent;
	border: none;
}

.entrada-texto:focus {
	outline: none;
}

.advertencia {
	color: #495057;
}

.advertencia:before {
	content: "!";
	background: #495057;
	color: white;
	padding: 2px 8px 2px 8px;
	margin: 10px;
	border-radius: 11.5px;
}

.botones {
	width: 47.9%;
	display: block;
	position: absolute;
	left: 14%;
	bottom: 7%;
	padding: 5px;
}


#botonEncriptar {
	margin: 0 4% 0 0;
	background-color: #0A3871;
	color: #FFFFFF;
}

.botones button {
	width: 48%;
	font-size: 1em;
	padding: 3.48% 0;
	border: 2px solid #0A3871;
	border-radius: 24px;
	transition: 0.5s all;
}

.botones button:active {
	transform: scale(0.9);
}

#salida-portada {
	width: 24.8%;
	background-color: #FFFFFF;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	padding: 2.2%;
	position: absolute;
	right: 5.8%;
	top: 7%;
	bottom: 8.9%;
	border-radius: 32px;
	box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
	box-sizing: border-box;
}


#salida-portada:hover {
	border: 4px solid #609ED4;

}

#salida-portada img {
	max-width: 95%;
	height: auto;
}

#salida {
	font-size: 2em;
	color: #495057;
	background-color: #FFFFFF;
	display: none;
	width: 24.8%;
	height: 84%;
	padding: 2.24%;
	position: absolute;
	right: 5.8%;
	top: 7%;
	bottom: 8.9%;
	border-radius: 32px;
	border: 4px solid transparent;
	box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
	box-sizing: border-box;
	border: none;
	resize: none;
}

#salida:hover {
	border: 4px solid #609ED4;

}

#salida:focus {
	outline: none;
}

#salida:active {
	border: 4px solid #d49660;
}

#alerta-copiado {
	background: black;
	color: white;
	text-align: center;
	width: 20%;
	position: fixed;
	top: 50%;
	left: 42%;
	border-radius: 10px;
	opacity: 0;
	animation: aparecer 5s linear infinite paused;
}

#alerta-copiado p::before {
	content: "Alerta: ";
	font-weight: bold;
}

@keyframes aparecer {
	0%, 100% {
		opacity: 0;
	}

	50% {
		opacity: 1;
	}
}

footer {
	display: flex;
	justify-content: space-around;
	background: #0A3871;
	color: #FFFFFF;
	padding: 2% 10% 3% 10%;
}

footer p{
	margin: 0;
}

#descripcion em::after {
	content: "";
	display: inline-block;
	width: 1rem;
	height: 1rem;
	animation: parpadear 0.80s step-end infinite;
}

@keyframes parpadear {
	0%, 100% {border-bottom: 2px solid transparent;}
	50% {border-bottom: 2px solid #FFFFFF;}
}

#contacto {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#contacto ul {
	padding: 0;
	margin: 3% 0 0 5%;
}

#contacto li {
	display: inline-block;
	padding: 1%;
	margin-right: 3%;
}

#contacto a {
	font-size: 1.5em;
	text-decoration: none;
	background: transparent;
	color: #FFFFFF;
}

#contacto a:hover {
	color: #d49660;
}


 @media screen and (max-width: 915px) {

	#contenedor {
		display: flex;
		flex-direction: column;
		width: 100%;
		height: auto;
		padding: 5%;
		box-sizing: border-box;
	}

	.imagen-logo, .entrada-texto, .botones, #salida-portada, #salida {
		position: static;
	}

	.imagen-logo {
		height: 5vmax;
	}

	#contenedor form {
		width: 100%;
		height: 70vmax;
		padding: 1%;
		box-sizing: border-box;
	}

	.entrada-texto {
		width: 100%;
		height: 75%;
		font-size: 2em;
		margin-bottom: 0px;
		box-sizing: border-box;
	}

	.botones {
		width: 100%;
		height: 25%;
		padding: 0;
		box-sizing: border-box;
	}

	.botones button {
		box-sizing: border-box;
		transition: all 0.5s;
	}

	.botones button:active {
		transform: scale(0.9);
	}

	#salida-portada {
		width: 100%;
		height: 16vmax;
		padding: 10% 2%;
		box-sizing: border-box;
	}

	#salida-portada img {
		display: none;
	}


	#salida {
		width: 100%;
		height:	auto;
		min-height: 16vmax;
		padding: 4%;
		margin: 0;
		box-sizing: border-box;
		border: 4px solid #F3F5FC;
	}

	footer {
		flex-direction: column;
		align-items: center;
		text-align: center;
		padding-bottom: 6%;
	}

	#descripcion p{
		display: none;
	}

	#contacto {
		align-items: center;
	}

	#contacto ul {
		display: block;
		margin: 3% 3% 0 0;
		white-space: nowrap;
	}

	#alerta-copiado {
		width: 40%;
		left: 30%;
	}

 }

 @media screen and (max-width: 450px) {


	.entrada-texto {
		font-size: 1.5em;
		height: 65%;
	}

	.botones {
		height: 35%;
	}

	.botones button {
		width: 100%;
	}

	#botonEncriptar {
		margin: 0 0 4% 0;
	}

	#salida-portada {
		font-size: 0.75em;
		padding: 1% 3%;
		margin: 0;
	}

	#salida-portada p {
		display: none;
	}

	#salida {
		font-size: 1.5em;
		margin: 0;
	}

	footer {
		padding: 5% 0 10% 0;
	}

	#alerta-copiado {
		width: 50%;
		left: 24%;
	}

 }