body {
	background-color: #F3F5FC;
	font-family: 'Inter', sans-serif;
}

.caja {
	width: 1440px;
	height: 1024px;
	position: relative;
	margin: 0 auto;

}

.imagen-logo {
	position: absolute;
	left: 5.83%;
	top: 3.9%;
}

.entrada-texto {
	font-size: 3em;
	color: #0A3871;
	resize: none;
	position: absolute;
	left: 14%;
	top: 16.40%;
	background: transparent;
	border: none;
}

.entrada-texto:focus {
	outline: none;
}


.botones {
	width: 47.9%;
	display: block;
	position: absolute;
	left: 14%;
	bottom: 7%;
	padding: 5px;
}

.advertencia {
	color: #495057;
}

.advertencia:before {
	content: "!";
	background: #495057;
	color: white;
	padding: 2px 8px 2px 8px;
	margin: 10px;
	border-radius: 11.5px;
}


.botonEncriptar {
	margin: 0 4% 0 0;
	background-color: #0A3871;
	color: #FFFFFF;
}

.botones input {
	width: 48%;
	font-size: 1em;
	padding: 3.48% 0;
	border: 2px solid #0A3871;
	border-radius: 24px;
	transition: 0.5s all;
}

.botones input:hover {
	transform: scale(1.1);
}

.botones input:active {
	transform: scale(1);
}

.salida {
	background-color: #FFFFFF;
	display: block;
	text-align: center;
	width: 23.4%;
	padding: 16.9% 2.2%;
	position: absolute;
	right: 2.8%;
	top: 3.9%;
	bottom: 3.9%;
	border-radius: 32px;
	box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
}

.salida:hover {
	border: 4px solid #609ED4;

}


